@use "variable" as *;
@use "mixin" as *;

html {
  @include mq(sp) {
    font-size: 62.5%;
  }
  @include mq(tab) {
    font-size: 75%;
  }
  @include mq(pc) {
    font-size: 120%;
  }
}

body {
  background-color: rgb(11, 11, 11, 27%);
}

.main-container {
  position: absolute;
  width: 100vw;

  &.inview {
    transition: opacity 4s;
    opacity: 1;
  }
}

.img-wrap {
  position: absolute;
  height: 400px;
  width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 88px);
  overflow: hidden;

  & .img {
    position: absolute;
    height: 400px;
    width: 700px;
    background-size: 700px;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200px);
    opacity: 0.8;
    &.back-img {
      background-image: url(./image/forest-1920.jpg);

      &.transform {
        @include animation(
          $name: infinity-scroll-left,
          $timing-function: cubic-bezier(00, 0.51, 0.17, 1),
          $duration: 4s,
          $fill-mode: both,
          $delay: 0s
        );
      }
    }

    &.back-img2 {
      background-image: url(./image/darkforest-1920.jpg);
      transform: translate(50%, -200px);

      &.transform {
        @include animation(
          $name: infinity-scroll-left2,
          $timing-function: cubic-bezier(0, 0.51, 0.17, 1),
          $duration: 4s,
          $fill-mode: both,
          $delay: 0s
        );
      }
    }
  }
}

@keyframes infinity-scroll-left {
  0% {
    transform: translate(-50%, -200px);
  }
  100% {
    transform: translate(-150%, -200px);
  }
}

@keyframes infinity-scroll-left2 {
  0% {
    transform: translate(50%, -200px);
  }
  100% {
    transform: translate(-50%, -200px);
  }
}
