@use "variable" as *;

.btn-wrapper {
  width: 100%;
  height: auto;
  position: absolute;
  margin-top: 54%;
}

button {
  padding: 10px 20px;
  font-family: "DotGothic16", sans-serif;
  transition: all 0.5s;
  border-radius: 5px;
  box-shadow: 3px 3px 0px 0px $cBlack;
  background-color: $cWhite;
  margin-right: auto;
  margin-left: auto;
  // margin-top: 71%;

  &:hover {
    box-shadow: none;
  }

  &.start-btn {
    transform: translate(154%, -212%);
  }

  &.status-btn {
    transform: translate(187%, 131%);
  }

  &.btn {
    &.hide {
      transition: all 0.2s;
      opacity: 0;
    }
  }
}
