@use "variable" as *;

.btn-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

button {
  padding: 10px 20px;
  font-family: "DotGothic16", sans-serif;
  transition: all 0.5s;
  border-radius: 5px;
  box-shadow: 3px 3px 0px 0px $cBlack;
  background-color: $cWhite;

  &:hover {
    box-shadow: none;
  }

  &.start-btn {
    transform: translate(101%, 655%);
  }

  &.status-btn {
    transform: translate(157%, 960%);
  }

  &.btn {
    &.hide {
      transition: all 0.2s;
      opacity: 0;
    }
  }
}
