@use "mixin" as *;

.chara-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.chara {
  position: absolute;
  background-repeat: no-repeat;
  width: 13rem;

  &.character-img {
    background-image: url(./image/character_yusha_01_red.png);
    height: 14rem;
    background-size: 13rem;
    top: 50%;

    @include animation(
      $name: kf-up-down,
      $duration: 0.7s,
      $timing-function: ease,
      $iteration-count: infinite
    );

    &.transform {
      @include animation(
        $name: kf-start-up-down,
        $duration: 0.7s,
        $timing-function: ease
      );
    }

    &.hide {
      @include animation($name: kf-hero-death, $duration: 1s);
    }
  }

  &.character-img2 {
    background-image: url(./image/character_monster_slime_green.png);
    height: 120px;

    background-size: 150px;
    transform: translate(85%, 200%);
    opacity: 0;

    &.inview {
      animation-delay: 2s;
      transition: all 2s;
      opacity: 1;
    }

    &.hide {
      @include animation($name: kf-enemy-death, $duration: 1s);
    }
  }
}

@keyframes kf-up-down {
  0%,
  100% {
    transform: translate(0, -50%);
  }
  50% {
    transform: translate(0, -60%);
  }
}

@keyframes kf-start-up-down {
  0% {
    transform: translate(0, -50%);
  }
  100% {
    transform: translate(-67%, -37%);
  }
}

@keyframes kf-hero-death {
  0% {
    transform: translate(-67%, -37%);
    opacity: 1;
  }
  10% {
    transform: translate(-67%, -37%);
    opacity: 0;
  }
  20% {
    transform: translate(-67%, -37%);
    opacity: 1;
  }
  30% {
    transform: translate(-67%, -37%);
    opacity: 0;
  }
  40% {
    transform: translate(-67%, -37%);
    opacity: 1;
  }
  100% {
    transform: translate(-67%, -37%);
    opacity: 0;
  }
}

@keyframes kf-enemy-death {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
