@mixin animation(
  $name,
  $duration: 1s,
  $timing-function: ease,
  $delay: 0s,
  $iteration-count: 1,
  $direction: normal,
  $fill-mode: forwards
) {
  animation: {
    name: $name;
    duration: $duration;
    timing-function: $timing-function;
    delay: $delay;
    iteration-count: $iteration-count;
    direction: $direction;
    fill-mode: $fill-mode;
  }
}

$breakpoint: (
<<<<<<< HEAD
  ip: "screen and(max-width: 480px)",
  pc: "screen and(max-width: 1440px)",
);
=======
  sp: "screen and (max-width: 768px)",
  tab: "screen and (min-width: 769px) and (max-width: 1280px)",
  pc: "screen and (min-width: 1281px)",
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}
>>>>>>> develop
