@use "mixin" as *;
@use "variable" as *;

.status-container {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  // transform: translate(-48%, 558px);
  background-color: $cBlack;

  @include mq(pc) {
    width: 31.3rem;
  }
  @include mq(tab) {
    width: 42.6rem;
  }

  &.transform {
    transition: all 0.5s;
    transform: translate(-48%, 635px);
  }

  & .screen {
    background: $cBlack;
    border-radius: 10px;
    border: 3px solid $cWhite;
    position: absolute;

    & p,
    div {
      cursor: pointer;
      color: $cWhite;
      margin-left: 10px;
      display: inline-block;
    }

    & div {
      display: block;
      margin: 10px 10px 10px 14px;
    }

    &.condition {
      // width: 280px;
      // height: 115px;
      transform: translate(-307px, -5px);

      @include mq(pc) {
        // width: 39rem;
        // height: 24.3rem;
        width: 14rem;
        height: 7.5rem;
      }
      @include mq(tab) {
        // height: 39rem;
        // width: 55rem;
        height: 9rem;
        width: 20rem;
      }
      @include mq(sp) {
        width: 39rem;
        height: 30rem;
      }
    }

    &.enemy {
      width: 206px;
      height: 115px;
      transform: translate(536px, -289px);
      opacity: 0;

      &.inview {
        opacity: 1;
      }
    }

    &.action-choice {
      width: 145px;
      height: 115px;
      transform: translate(-307px, -128px);
      opacity: 0;

      &.inview {
        opacity: 1;
      }

      & p {
        display: block;
        margin: 10px 10px 10px 35px;

        & .choice {
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 13px 13px 0 0;
          border-color: transparent $cWhite transparent transparent;
          transform: translate(-90px, 5px) rotate(-45deg);
        }

        &#magic {
          & .choice {
            transform: translate(-75px, 5px) rotate(-45deg);
          }
        }

        &#deathblow {
          & .choice {
            transform: translate(-75px, 5px) rotate(-45deg);
          }
        }
      }
    }
    &.ability {
      width: 222px;
      height: 148px;
      transform: translate(-307px, -281px);
      opacity: 0;

      &.inview {
        opacity: 1;
      }

      & p {
        margin: 0px;
      }
    }
  }
}

table {
  border-collapse: collapse;
  border: 3px solid $cWhite;
  letter-spacing: 1px;
  font-family: "DotGothic16", sans-serif;
  color: $cWhite;

  & th {
    border: 3px solid $cWhite;
    padding: 9px 20px;
  }
  & td {
    border: 3px solid $cWhite;
    padding: 20px;
    text-align: center;
  }
}

.tooltip {
  width: 155px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  padding: 16px;
  border-radius: 5px;
  background: #33cc99;
  color: #fff;
  font-weight: bold;

  &:after {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    bottom: -19px;
    margin-left: 64px;
    border: solid transparent;
    border-color: rgba(51, 204, 153, 0);
    border-top-color: #33cc99;
    border-width: 10px;
    pointer-events: none;
    content: " ";
  }

  &.detail-str {
    transform: translate(-322px, -111px);
  }

  &.detail-con {
    transform: translate(-254px, -111px);
  }

  &.detail-siz {
    transform: translate(-188px, -111px);
  }

  &.detail-dex {
    transform: translate(-102px, -111px);
  }
  &.detail-app {
    transform: translate(-36px, -111px);
  }
  &.detail-int {
    transform: translate(33px, -111px);
  }
  &.detail-pow {
    transform: translate(104px, -111px);
  }
  &.detail-edu {
    transform: translate(174px, -111px);
  }
}

.titl-str {
  &:hover {
    & .detail-str {
      display: block;
    }
  }
}

.titl-con {
  &:hover {
    & .detail-con {
      display: block;
    }
  }
}

.titl-siz {
  &:hover {
    & .detail-siz {
      display: block;
    }
  }
}

.titl-dex {
  &:hover {
    & .detail-dex {
      display: block;
    }
  }
}

.titl-app {
  &:hover {
    & .detail-app {
      display: block;
    }
  }
}

.titl-int {
  &:hover {
    & .detail-int {
      display: block;
    }
  }
}
.titl-pow {
  &:hover {
    & .detail-pow {
      display: block;
    }
  }
}
.titl-edu {
  &:hover {
    & .detail-edu {
      display: block;
    }
  }
}
