@use "../mixin" as *;

.character-img {
  background-image: url(./image/character_yusha_01_red.png);
  position: absolute;
  height: 160px;
  width: 150px;
  background-size: 150px;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 145px);

  @include animation(
    $name: kf-up-down,
    $duration: 0.7s,
    $timing-function: ease,
    $iteration-count: infinite
  );

  &.transform {
    @include animation(
      $name: kf-start-up-down,
      $duration: 0.7s,
      $timing-function: ease
    );
  }
}

@keyframes kf-up-down {
  0%,
  100% {
    transform: translateY(-50%, 145px);
  }
  50% {
    transform: translate(-50%, 135px);
  }
}

@keyframes kf-start-up-down {
  0% {
    transform: translateY(-50%, 145px);
  }
  100% {
    transform: translate(-221%, 322px);
  }
}
