@use "../mixin" as *;
@use "variable" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.container {
  &.hide {
    transition: opacity 1s;
    opacity: 0;
  }
}

.ball {
  background-color: $cBlack;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  @include animation(
    $name: kf-bound,
    $iteration-count: infinite,
    $timing-function: ease-in
  );
}

@keyframes kf-bound {
  0%,
  100% {
    top: 50%;
    transform: scale(1);
  }
  30% {
    top: 45%;
    transform: scale(0.8, 1.1);
  }
  60% {
    transform: scale(1);
  }
  90% {
    top: 50%;
    transform: scale(1.2, 0.9);
  }
}

.shadow {
  position: absolute;
  background-color: $cBlack;
  width: 5rem;
  height: 1rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  filter: blur(6px);
  z-index: 0;
  @include animation(
    $name: kf-shadow-animation,
    $iteration-count: infinite,
    $timing-function: ease-in
  );
}

@keyframes kf-shadow-animation {
  0%,
  100% {
    transform: translate(0%, 450%) scale(1);
    filter: blur(6px);
  }
  30% {
    transform: translate(0%, 450%) scale(1.2, 1);
    filter: blur(8px);
  }
}

.loading-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(30%, 600%);

  & .char {
    display: inline-block;

    @include animation(
      $name: kf-chars-animate,
      $iteration-count: infinite,
      $delay: 2s,
      $timing-function: cubic-bezier(0.39, 1.57, 0.58, 1),
      $fill-mode: both
    );

    @for $i from 1 through 7 {
      &:nth-child(#{$i}) {
        animation-delay: $i * 0.06s;
      }
    }
  }
}

@keyframes kf-chars-animate {
  0% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(0);
  }
}

.progress-bar {
  width: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20%, 760%);
  background-color: $cWhite;
  border: 5px solid $cBlack;
  padding: 3px;
  border-radius: 10px;
}

.bar {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(-2%, -40%);
  background-color: $Bar_color;
  border-radius: 10px;
  opacity: 0;

  @include animation(
    $name: kf-bar-animation,
    $delay: 1s,
    $duration: 1s,
    $timing-function: cubic-bezier(1, -0.02, 0.18, 0.99),
    $iteration-count: normal
  );
}

@keyframes kf-bar-animation {
  0% {
    opacity: 1;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

.triangle-animation {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100vh 100vw 0 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: 2;

  &.top {
    border-color: $triangle_color_top transparent transparent transparent;
    @include animation(
      $name: kf-triangle-animation-top,
      $delay: 2s,
      $duration: 0.5s,
      $timing-function: cubic-bezier(0.42, 0, 0.02, 1.01),
      $direction: alternate-reverse
    );
  }

  &.bottom {
    border-color: transparent $cBlack transparent transparent;
    @include animation(
      $name: kf-triangle-animation-bottom,
      $delay: 2s,
      $duration: 0.5s,
      $timing-function: cubic-bezier(0.42, 0, 0.02, 1.01),
      $direction: alternate-reverse
    );
  }
}

@keyframes kf-triangle-animation-bottom {
  0% {
    opacity: 1;
    border-width: 100vh 100vw 0 0;
  }
  100% {
    opacity: 0;
    border-width: 100vh 100vw 0 100vw;
  }
}

@keyframes kf-triangle-animation-top {
  0% {
    opacity: 1;
    border-width: 100vh 100vw 0 0;
  }

  100% {
    opacity: 0;
    border-width: 100vh 100vw 100vh 0;
  }
}
