@use "variable" as *;

.text-box {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  background: black;
  width: 275px;
  height: 65px;
  margin: 10px;
  border-radius: 10px;
  border: 3px solid white;

  &.name {
    transform: translate(-51%, 384px);
  }
  & > p {
    font-family: "Roboto", sans-serif;
    font-size: large;
    color: white;
    text-align: center;
  }
  & .out {
    transform: translate(10px, 0px);
  }
}
