* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.container.hide {
  transition: opacity 1s;
  opacity: 0;
}

.ball {
  background-color: black;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  animation-name: kf-bound;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes kf-bound {
  0%, 100% {
    top: 50%;
    transform: scale(1);
  }
  30% {
    top: 45%;
    transform: scale(0.8, 1.1);
  }
  60% {
    transform: scale(1);
  }
  90% {
    top: 50%;
    transform: scale(1.2, 0.9);
  }
}
.shadow {
  position: absolute;
  background-color: black;
  width: 5rem;
  height: 1rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  filter: blur(6px);
  z-index: 0;
  animation-name: kf-shadow-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes kf-shadow-animation {
  0%, 100% {
    transform: translate(0%, 450%) scale(1);
    filter: blur(6px);
  }
  30% {
    transform: translate(0%, 450%) scale(1.2, 1);
    filter: blur(8px);
  }
}
.loading-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(30%, 600%);
}
.loading-animation .char {
  display: inline-block;
  animation-name: kf-chars-animate;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
}
.loading-animation .char:nth-child(1) {
  animation-delay: 0.06s;
}
.loading-animation .char:nth-child(2) {
  animation-delay: 0.12s;
}
.loading-animation .char:nth-child(3) {
  animation-delay: 0.18s;
}
.loading-animation .char:nth-child(4) {
  animation-delay: 0.24s;
}
.loading-animation .char:nth-child(5) {
  animation-delay: 0.3s;
}
.loading-animation .char:nth-child(6) {
  animation-delay: 0.36s;
}
.loading-animation .char:nth-child(7) {
  animation-delay: 0.42s;
}

@keyframes kf-chars-animate {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}
.progress-bar {
  width: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20%, 760%);
  background-color: white;
  border: 5px solid black;
  padding: 3px;
  border-radius: 10px;
}

.bar {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(-2%, -40%);
  background-color: orange;
  border-radius: 10px;
  opacity: 0;
  animation-name: kf-bar-animation;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(1, -0.02, 0.18, 0.99);
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes kf-bar-animation {
  0% {
    opacity: 1;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
.triangle-animation {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100vh 100vw 0 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: 2;
}
.triangle-animation.top {
  border-color: rgb(126, 89, 166) transparent transparent transparent;
  animation-name: kf-triangle-animation-top;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.02, 1.01);
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}
.triangle-animation.bottom {
  border-color: transparent black transparent transparent;
  animation-name: kf-triangle-animation-bottom;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.02, 1.01);
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}

@keyframes kf-triangle-animation-bottom {
  0% {
    opacity: 1;
    border-width: 100vh 100vw 0 0;
  }
  100% {
    opacity: 0;
    border-width: 100vh 100vw 0 100vw;
  }
}
@keyframes kf-triangle-animation-top {
  0% {
    opacity: 1;
    border-width: 100vh 100vw 0 0;
  }
  100% {
    opacity: 0;
    border-width: 100vh 100vw 100vh 0;
  }
}
button {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px 20px;
  margin: 0 18px;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s;
  border-radius: 5px;
  box-shadow: 2px 2px 0px 0px black;
  background-color: white;
}
button:hover {
  box-shadow: none;
}
button.start-btn {
  transform: translate(-67%, 337px);
}
button.start-btn.hide {
  opacity: 0;
}

.text-box {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  background: black;
  width: 275px;
  height: 65px;
  margin: 10px;
  border-radius: 10px;
  border: 3px solid white;
}
.text-box.name {
  transform: translate(-51%, 384px);
}

.character-img {
  background-image: url(./image/character_yusha_01_red.png);
  position: absolute;
  height: 160px;
  width: 150px;
  background-size: 150px;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 145px);
}

.main-container {
  opacity: 1;
  position: absolute;
  width: 100vw;
}
.main-container.inview {
  transition: opacity 3s;
  opacity: 1;
}

.back-img {
  background-image: url(./image/forest-1920.jpg);
  position: absolute;
  height: 400px;
  width: 700px;
  background-size: 700px;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 88px);
}/*# sourceMappingURL=main.css.map */