* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.container.hide {
  transition: opacity 1s;
  opacity: 0;
}

.ball {
  background-color: black;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  animation-name: kf-bound;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes kf-bound {
  0%, 100% {
    top: 50%;
    transform: scale(1);
  }
  30% {
    top: 45%;
    transform: scale(0.8, 1.1);
  }
  60% {
    transform: scale(1);
  }
  90% {
    top: 50%;
    transform: scale(1.2, 0.9);
  }
}
.shadow {
  position: absolute;
  background-color: black;
  width: 5rem;
  height: 1rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  filter: blur(6px);
  z-index: 0;
  animation-name: kf-shadow-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes kf-shadow-animation {
  0%, 100% {
    transform: translate(0%, 450%) scale(1);
    filter: blur(6px);
  }
  30% {
    transform: translate(0%, 450%) scale(1.2, 1);
    filter: blur(8px);
  }
}
.loading-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(30%, 600%);
}
.loading-animation .char {
  display: inline-block;
  animation-name: kf-chars-animate;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
}
.loading-animation .char:nth-child(1) {
  animation-delay: 0.06s;
}
.loading-animation .char:nth-child(2) {
  animation-delay: 0.12s;
}
.loading-animation .char:nth-child(3) {
  animation-delay: 0.18s;
}
.loading-animation .char:nth-child(4) {
  animation-delay: 0.24s;
}
.loading-animation .char:nth-child(5) {
  animation-delay: 0.3s;
}
.loading-animation .char:nth-child(6) {
  animation-delay: 0.36s;
}
.loading-animation .char:nth-child(7) {
  animation-delay: 0.42s;
}

@keyframes kf-chars-animate {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}
.progress-bar {
  width: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20%, 760%);
  background-color: white;
  border: 5px solid black;
  padding: 3px;
  border-radius: 10px;
}

.bar {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(-2%, -40%);
  background-color: orange;
  border-radius: 10px;
  opacity: 0;
  animation-name: kf-bar-animation;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(1, -0.02, 0.18, 0.99);
  animation-delay: 1s;
  animation-iteration-count: normal;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes kf-bar-animation {
  0% {
    opacity: 1;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
.triangle-animation {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100vh 100vw 0 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: 2;
}
.triangle-animation.top {
  border-color: rgb(126, 89, 166) transparent transparent transparent;
  animation-name: kf-triangle-animation-top;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.02, 1.01);
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}
.triangle-animation.bottom {
  border-color: transparent black transparent transparent;
  animation-name: kf-triangle-animation-bottom;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.02, 1.01);
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}

@keyframes kf-triangle-animation-bottom {
  0% {
    opacity: 1;
    border-width: 100vh 100vw 0 0;
  }
  100% {
    opacity: 0;
    border-width: 100vh 100vw 0 100vw;
  }
}
@keyframes kf-triangle-animation-top {
  0% {
    opacity: 1;
    border-width: 100vh 100vw 0 0;
  }
  100% {
    opacity: 0;
    border-width: 100vh 100vw 100vh 0;
  }
}
button {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px 20px;
  margin: 0 18px;
  font-family: "DotGothic16", sans-serif;
  transition: all 0.5s;
  border-radius: 5px;
  box-shadow: 3px 3px 0px 0px black;
  background-color: white;
}
button:hover {
  box-shadow: none;
}
button.start-btn {
  transform: translate(-67%, 337px);
}
button.status-btn {
  transform: translate(-62%, -102px);
}
button.btn.hide {
  transition: all 0.2s;
  opacity: 0;
}

.text-box {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  background: black;
  width: 275px;
  height: 65px;
  margin: 10px;
  border-radius: 10px;
  border: 3px solid white;
}
.text-box.name {
  transform: translate(-51%, 384px);
}
.text-box.name .text.transform {
  transform: translate(10px, 15px);
}
.text-box > p {
  font-family: "DotGothic16", sans-serif;
  color: white;
  text-align: center;
}
.text-box > p .char {
  display: inline-block;
  opacity: 0;
  animation-name: kf-chars-animate;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
  animation-delay: 2.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}
.text-box > p .char:nth-child(1) {
  animation-delay: 0.06s;
}
.text-box > p .char:nth-child(2) {
  animation-delay: 0.12s;
}
.text-box > p .char:nth-child(3) {
  animation-delay: 0.18s;
}
.text-box > p .char:nth-child(4) {
  animation-delay: 0.24s;
}
.text-box > p .char:nth-child(5) {
  animation-delay: 0.3s;
}
.text-box > p .char:nth-child(6) {
  animation-delay: 0.36s;
}
.text-box > p .char:nth-child(7) {
  animation-delay: 0.42s;
}
.text-box > p .char:nth-child(8) {
  animation-delay: 0.48s;
}
.text-box > p .char:nth-child(9) {
  animation-delay: 0.54s;
}
.text-box > p .char:nth-child(10) {
  animation-delay: 0.6s;
}
.text-box > p .char:nth-child(11) {
  animation-delay: 0.66s;
}
.text-box > p .char:nth-child(12) {
  animation-delay: 0.72s;
}
.text-box .out {
  transform: translate(-2px, 0px);
}
.text-box .out.hide {
  opacity: 0;
}
.text-box.transform {
  transition: all 0.5s;
  transform: translate(-51%, 495px);
  width: 700px;
}

@keyframes kf-chars-animate {
  0% {
    opacity: 0;
    transform: translate(10px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(10px, 5px);
  }
}
.chara {
  position: absolute;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  width: 150px;
}
.chara.character-img {
  background-image: url(./image/character_yusha_01_red.png);
  height: 160px;
  background-size: 150px;
  transform: translate(-50%, 145px);
  animation-name: kf-up-down;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.chara.character-img.transform {
  animation-name: kf-start-up-down;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.chara.character-img2 {
  background-image: url(./image/character_monster_slime_green.png);
  height: 120px;
  background-size: 150px;
  transform: translate(50%, 366px);
  opacity: 0;
}
.chara.character-img2.inview {
  animation-delay: 2s;
  transition: all 2s;
  opacity: 1;
}

@keyframes kf-up-down {
  0%, 100% {
    transform: translateY(-50%, 145px);
  }
  50% {
    transform: translate(-50%, 135px);
  }
}
@keyframes kf-start-up-down {
  0% {
    transform: translateY(-50%, 145px);
  }
  100% {
    transform: translate(-221%, 322px);
  }
}
body {
  background-color: rgba(11, 11, 11, 0.27);
}

.main-container {
  position: absolute;
  width: 100vw;
}
.main-container.inview {
  transition: opacity 4s;
  opacity: 1;
}

.img-wrap {
  position: absolute;
  height: 400px;
  width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 88px);
  overflow: hidden;
}
.img-wrap .img {
  position: absolute;
  height: 400px;
  width: 700px;
  background-size: 700px;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200px);
  opacity: 0.8;
}
.img-wrap .img.back-img {
  background-image: url(./image/forest-1920.jpg);
}
.img-wrap .img.back-img.transform {
  animation-name: infinity-scroll-left;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0, 0.51, 0.17, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}
.img-wrap .img.back-img2 {
  background-image: url(./image/darkforest-1920.jpg);
  transform: translate(50%, -200px);
}
.img-wrap .img.back-img2.transform {
  animation-name: infinity-scroll-left2;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0, 0.51, 0.17, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

@keyframes infinity-scroll-left {
  0% {
    transform: translate(-50%, -200px);
  }
  100% {
    transform: translate(-150%, -200px);
  }
}
@keyframes infinity-scroll-left2 {
  0% {
    transform: translate(50%, -200px);
  }
  100% {
    transform: translate(-50%, -200px);
  }
}
.status-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-48%, 558px);
  background-color: black;
}
.status-container.transform {
  transition: all 0.5s;
  transform: translate(-48%, 635px);
}
.status-container .screen {
  background: black;
  border-radius: 10px;
  border: 3px solid white;
  position: absolute;
}
.status-container .screen p,
.status-container .screen div {
  cursor: pointer;
  color: white;
  margin-left: 10px;
  display: inline-block;
}
.status-container .screen div {
  display: block;
  margin: 10px 10px 10px 14px;
}
.status-container .screen.condition {
  width: 280px;
  height: 115px;
  transform: translate(-307px, -5px);
}
.status-container .screen.action-choice {
  width: 145px;
  height: 115px;
  transform: translate(-307px, -128px);
  opacity: 0;
}
.status-container .screen.action-choice.inview {
  opacity: 1;
}
.status-container .screen.action-choice p {
  display: block;
  margin: 10px 10px 10px 35px;
}
.status-container .screen.action-choice p .choice {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 13px 0 0;
  border-color: transparent white transparent transparent;
  transform: translate(-90px, 5px) rotate(-45deg);
}
.status-container .screen.action-choice p#magic .choice {
  transform: translate(-75px, 5px) rotate(-45deg);
}

table {
  border-collapse: collapse;
  border: 3px solid white;
  letter-spacing: 1px;
  font-family: "DotGothic16", sans-serif;
  color: white;
}
table th {
  border: 3px solid white;
  padding: 9px 20px;
}
table td {
  border: 3px solid white;
  padding: 20px;
  text-align: center;
}

.tooltip {
  width: 155px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  padding: 16px;
  border-radius: 5px;
  background: #33cc99;
  color: #fff;
  font-weight: bold;
}
.tooltip:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -19px;
  margin-left: 64px;
  border: solid transparent;
  border-color: rgba(51, 204, 153, 0);
  border-top-color: #33cc99;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}
.tooltip.detail-str {
  transform: translate(-322px, -111px);
}
.tooltip.detail-con {
  transform: translate(-254px, -111px);
}
.tooltip.detail-siz {
  transform: translate(-188px, -111px);
}
.tooltip.detail-dex {
  transform: translate(-102px, -111px);
}
.tooltip.detail-app {
  transform: translate(-36px, -111px);
}
.tooltip.detail-int {
  transform: translate(33px, -111px);
}
.tooltip.detail-pow {
  transform: translate(104px, -111px);
}
.tooltip.detail-edu {
  transform: translate(174px, -111px);
}

.titl-str:hover .detail-str {
  display: block;
}

.titl-con:hover .detail-con {
  display: block;
}

.titl-siz:hover .detail-siz {
  display: block;
}

.titl-dex:hover .detail-dex {
  display: block;
}

.titl-app:hover .detail-app {
  display: block;
}

.titl-int:hover .detail-int {
  display: block;
}

.titl-pow:hover .detail-pow {
  display: block;
}

.titl-edu:hover .detail-edu {
  display: block;
}

.main-container {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */