@use "../mixin" as *;

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.ball {
  background-color: black;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  @include animation(
    $name: bound,
    $iteration-count: infinite,
    $timing-function: ease-in
  );
}

@keyframes bound {
  0%,
  100% {
    top: 50%;
    transform: scale(1);
  }
  30% {
    top: 45%;
    transform: scale(0.8, 1.1);
  }
  60% {
    transform: scale(1);
  }
  90% {
    top: 50%;
    transform: scale(1.2, 0.9);
  }
}

.shadow {
  position: absolute;
  background-color: black;
  width: 5rem;
  height: 1rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(0%, 450%);
  filter: blur(6px);
  z-index: 0;
  @include animation(
    $name: shadow-animation,
    $iteration-count: infinite,
    $timing-function: ease-in
  );
}

@keyframes shadow-animation {
  0%,
  100% {
    transform: translate(0%, 450%) scale(1);
    filter: blur(6px);
  }
  30% {
    transform: translate(0%, 450%) scale(1.2, 1);
    filter: blur(8px);
  }
}

.loading-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 600%);

  & .char {
    display: inline-block;

    @include animation(
      $name: kf-animate-chars,
      $iteration-count: infinite,
      $delay: 2s,
      $timing-function: cubic-bezier(0.39, 1.57, 0.58, 1),
      $fill-mode: both
    );

    @for $i from 1 through 7 {
      &:nth-child(#{$i}) {
        animation-delay: $i * 0.06s;
      }
    }
  }
}

@keyframes kf-animate-chars {
  0% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(0);
  }
}
